<template>
    <v-container grid-list-lg>
        <v-layout class="mb-5">
            <v-flex xs12>
                <current-period-item></current-period-item>
            </v-flex>
        </v-layout>

        <v-layout>
            <v-flex>
                <h1 class="display-2">Quick Project Overview</h1>
            </v-flex>
        </v-layout>
        <v-layout align-start justify-start row wrap v-if="runningPeriod">
            <v-flex v-for="project of activeProjects" :key="project.name"
                    xs12 sm6 md4 lg3 fill-height>
                <project-card :project="project"/>
            </v-flex>
            <v-flex xs12 sm6 md4 lg3 fill-height>
                <create-project-card height="100%"></create-project-card>
            </v-flex>
        </v-layout>
        <v-layout align-start justify-start row wrap v-else>
            <v-flex xs12>
                <p>Start a period first</p>
            </v-flex>
        </v-layout>

        <v-layout align-start justify-start row wrap v-if="runningPeriod">
            <v-flex xs12>
                <h1 class="display-2">Sessions in this period</h1>
            </v-flex>
            <v-flex xs12 v-if="sessions.length">
                <v-list>
                    <template v-for="(session, index) in sessions">
                        <v-divider v-if="index === 0"></v-divider>
                        <session-list-item :session-id="session.id" :key="session.id"></session-list-item>
                        <v-divider></v-divider>
                    </template>
                </v-list>
            </v-flex>
            <v-flex v-else>
                <p>Start a session</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import ProjectCard from './elements/ProjectCard'
  import CreateProjectCard from './elements/CreateProjectCard'
  import CurrentPeriodItem from './elements/CurrentPeriodItem'
  import SessionListItem from './elements/SessionListItem'

  export default {
    components: {CurrentPeriodItem, ProjectCard, CreateProjectCard, SessionListItem},
    name: 'timetracker',
    computed: {
      ...mapGetters([
        'activeProjects',
        'runningPeriod'
      ]),
      sessions () {
        return this.$store.getters.sessionsByPeriod(this.runningPeriod.id)
      }
    }
  }
</script>

<style scoped>

</style>
