<template>
    <v-card class="transparent elevation-0">
        <v-card-title primary-title class="px-0">
            <v-btn absolute @click="open">
                <v-icon left>add</v-icon>
                Add new project
            </v-btn>
            <v-dialog v-model="showConfigMenu" max-width="600px">
                <v-card>
                    <v-card-title class="pa-2">
                        <v-container grid-list-sm>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <h3>Create a new project</h3>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-title>
                    <v-card-text class="pa-2">
                        <v-container grid-list-xl>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field box required v-model="newProjectName" :color="activeColor"
                                                  :rules="nameValidators" ref="projectNameInput" autofocus
                                                  persistent-hint hint="Enter a name for the project" validate-on-blur>
                                        <span slot="label">Project Name</span>
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout row wrap>
                                        <v-flex xs4 sm2>
                                            <v-btn small light class="color-picker__item"
                                                   @click="colors = generateColors(11)">
                                                <v-icon>refresh</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex v-for="(color, index) in colors" :key="color + index" xs4 sm2>
                                            <v-btn small :color="color" @click="activeColor = color"
                                                   :class="['color-picker__item', 'color-picker__item--color',
                                                   {'color-picker__item--active': color === activeColor}]">
                                                {{index + 1}}
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-container grid-list-sm>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-btn @click="save" :color="activeColor">
                                        <v-icon left>add</v-icon>
                                        Create
                                    </v-btn>
                                    <v-btn @click="cancel">cancel</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card-title>
    </v-card>
</template>

<script>
  import * as colorConvert from 'color-convert'

  export default {
    name: 'CreateProjectCard',
    components: {},
    data () {
      return {
        showConfigMenu: false,
        newProjectName: '',
        activeColor: colorConvert.hsl.hex(0, 40, 60),
        colors: this.generateColors(11)
      }
    },
    computed: {
      nameValidators () {
        return [
          (value) => !!value || 'Project Name is required',
          (value) => this.$store.state.Projects.projects.findIndex((project) => {
            return project.name === value
          }) < 0 || 'Project Name must be unique'
        ]
      }
    },
    methods: {
      open () {
        this.newProjectName = ''
        this.colors = this.generateColors(11)
        this.activeColor = this.colors[0]
        this.showConfigMenu = true
      },
      save () {
        this.$refs.projectNameInput.validate(true)

        if (!this.$refs.projectNameInput.valid) {
          return
        }

        this.$store.commit('ADD_PROJECT', {
          name: this.newProjectName,
          opts: {
            color: this.activeColor
          }
        })

        this.showConfigMenu = false
      },
      cancel () {
        this.showConfigMenu = false
      },
      generateColors (length) {
        const ratio = 360 / 11
        let start = Math.floor(Math.random() * 360)
        const saturation = Math.floor(Math.random() * 10) + 45
        const lightness = Math.floor(Math.random() * 10) + 55
        const arr = []

        for (let i = 0; i < length; i++) {
          const hex = colorConvert.hsl.hex(start, saturation, lightness)
          arr.push(`#${hex}`)
          start += ratio
        }

        this.activeColor = arr[0]

        return arr
      }
    }
  }
</script>

<style scoped>
    .color-picker__item {
        min-width: 0;
        width: 100%;
        margin: 0;
        display: block;
    }

    .color-picker__item--color {
        opacity: 0.5;
        will-change: opacity;
        transition: opacity 0.3s ease-in-out;
    }

    .color-picker__item--color:hover {
        opacity: 0.9;
    }

    .color-picker__item--active {
        opacity: 1;
    }
</style>
