<template>
    <v-card>
        <v-layout row wrap>
            <v-flex xs12 sm6 v-if="runningPeriod">
                <v-card-text>
                    <h2 class="title">Period #{{runningPeriod.index + 1}} running</h2>
                    <div class="caption">{{duration}}</div>
                </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6>
                <v-card-actions class="pa-3">
                    <v-layout row wrap justify-end>
                        <v-btn class="ma-2" @click="startPeriod">Start new period</v-btn>
                    </v-layout>
                </v-card-actions>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
  import {mapGetters} from 'vuex'
  import * as moment from 'moment'
  import {workDuration} from './../../assets/js/moment-work-duration'

  moment.duration.fn.workDuration = workDuration

  export default {
    name: 'CurrentPeriodItem',
    data () {
      return {
        now: moment()
      }
    },
    computed: {
      ...mapGetters([
        'runningPeriod',
        'sessionsByPeriod',
        'runningSessionsByPeriod'
      ]),
      duration () {
        const duration = moment.duration()
        const now = this.now

        for (const session of this.sessionsByPeriod(this.runningPeriod.id)) {
          let sessionDuration

          if (session.time.running) {
            sessionDuration = moment.duration(now.diff(session.time.start))
          } else {
            sessionDuration = moment.duration(session.time.duration)
          }

          duration.add(sessionDuration)
        }

        if (duration.as('seconds') < 0) {
          return `-`
        } else {
          const workDuration = duration.workDuration()
          return `${workDuration.workdays}PT ${workDuration.hours}h ${workDuration.minutes}m  ${workDuration.seconds}s`
        }
      }
    },
    mounted () {
      setInterval(() => {
        this.now = moment()
      }, 1000)
    },
    methods: {
      startPeriod () {
        if (this.runningPeriod) {
          const currentSessions = this.runningSessionsByPeriod(this.runningPeriod.id)

          for (const session of currentSessions) {
            this.$store.commit('STOP_SESSION', session)
          }
        }

        this.$store.commit('NEW_PERIOD')
      }
    }
  }
</script>

<style scoped>

</style>
