<template>
    <v-card :color="project.opts.color">
        <v-card-text primary-title>
            <h2 class="title mb-0">{{project.name}}</h2>
            <div class="caption">{{duration}}</div>
        </v-card-text>
        <v-card-text v-if="!!runningSessions.length" class="pa-0">
            <v-list class="transparent">
                <template v-for="(session, index) in runningSessions">
                    <v-divider v-if="index === 0"></v-divider>
                    <session-list-item :session-id="session.id" :key="session.id"></session-list-item>
                    <v-divider></v-divider>
                </template>
            </v-list>
        </v-card-text>
        <v-card-actions class="pa-3">
            <v-btn ripple :color="darkerColor" @click="newSession">
                <v-icon left>timer</v-icon>
                New Session
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
  import SessionListItem from './SessionListItem'
  import {mapGetters} from 'vuex'
  import * as moment from 'moment'
  import {workDuration} from './../../assets/js/moment-work-duration'
  import {Project} from '../../store/interfaces/project'

  moment.duration.fn.workDuration = workDuration

  export default {
    name: 'projectcard',
    components: {SessionListItem},
    data () {
      return {
        now: moment(),
        darkerColor: Project.getDarkerColor(this.project.opts.color)
      }
    },
    props: {
      project: Object
    },
    computed: {
      ...mapGetters([
        'runningPeriod'
      ]),
      runningSessions () {
        return this.$store.getters.runningSessionsByProject(this.project.id)
      },
      sessions () {
        return this.$store.getters.sessionsByProjectAndPeriod(this.project.id, this.runningPeriod.id)
      },
      duration () {
        const duration = moment.duration()
        const now = this.now

        for (const session of this.sessions) {
          let sessionDuration

          if (session.time.running) {
            sessionDuration = moment.duration(now.diff(session.time.start))
          } else {
            sessionDuration = moment.duration(session.time.duration)
          }

          duration.add(sessionDuration)
        }

        if (duration.as('seconds') < 0) {
          return `-`
        } else {
          const workDuration = duration.workDuration()
          return `${workDuration.workdays}PT ${workDuration.hours}h ${workDuration.minutes}m  ${workDuration.seconds}s`
        }
      }
    },
    mounted () {
      setInterval(() => {
        this.now = moment()
      }, 1000)
    },
    methods: {
      newSession () {
        this.$store.commit('NEW_SESSION', {
          period: this.runningPeriod.id,
          project: this.project.id
        })
      }
    }
  }
</script>

<style scoped>

</style>
