<template>
    <v-list-tile>
        <v-list-tile-action>
            <v-btn flat icon @click="stopSession" :disabled="!session.time.running">
                <v-icon>stop</v-icon>
            </v-btn>
        </v-list-tile-action>
        <v-list-tile-content>
            <v-list-tile-title :title="session.opts.note">{{session.opts.note}}</v-list-tile-title>
            <v-list-tile-sub-title class="caption">{{duration}}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-btn slot="activator" flat icon>
                    <v-icon>more_vert</v-icon>
                </v-btn>
                <session-editor :session-id="sessionId" @close="dialog = false"></session-editor>
            </v-dialog>
        </v-list-tile-action>
    </v-list-tile>
</template>

<script>
  import * as moment from 'moment'
  import VListTileAction from 'vuetify/src/components/VList/VListTileAction'
  import SessionEditor from './SessionEditor'
  import {workDuration} from './../../assets/js/moment-work-duration'

  moment.duration.fn.workDuration = workDuration

  export default {
    name: 'sessionlistitem',
    components: {SessionEditor, VListTileAction},
    props: {
      sessionId: {
        required: true,
        type: String
      }
    },
    data () {
      return {
        now: moment(),
        dialog: false
      }
    },
    computed: {
      session () {
        return this.$store.getters.sessionById(this.sessionId)
      },
      duration () {
        const duration = this.session.time.running
          ? moment.duration(this.now.diff(moment(this.session.time.start)))
          : moment.duration(this.session.time.duration)

        if (duration.as('seconds') < 0) {
          return `starting at ${moment(this.session.time.start).format('HH:mm')}`
        } else {
          const workDuration = duration.workDuration()
          return `${workDuration.workdays}PT ${workDuration.hours}h ${workDuration.minutes}m  ${workDuration.seconds}s`
        }
      },
      project () {
        return this.$store.getters.projectById(this.session.project)
      }
    },
    mounted () {
      setInterval(() => {
        this.now = moment()
      }, 1000)
    },
    methods: {
      stopSession () {
        this.$store.commit('STOP_SESSION', this.session)
      }
    }
  }
</script>

<style scoped>

</style>
