<template>
    <v-card>
        <v-card-title class="pa-2">
            <v-container grid-list-sm>
                <v-layout wrap>
                    <v-flex xs12>
                        <h3>Edit Session</h3>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-title>
        <v-card-text class="pa-2">
            <v-container grid-list-xl>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field box required v-model="internalSession.opts.note" :color="project.opts.color"
                                      persistent-hint hint="A short note on what you are doing" autofocus>
                            <span slot="label">Note</span>
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-menu :close-on-content-click="false" v-model="startDayPicker" offset-y class="d-block">
                            <v-text-field slot="activator" box required v-model="startDay" readonly
                                          :color="project.opts.color"
                                          persistent-hint hint="The day when the session started">
                                <span slot="label">Starting Day</span>
                            </v-text-field>
                            <v-date-picker first-day-of-week="1" v-model="startDayForPicker"
                                           @input="startDayPicker = false" :color="project.opts.color"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-menu :close-on-content-click="false" v-model="startTimePicker" offset-y class="d-block">
                            <v-text-field slot="activator" box required v-model="startTime" readonly
                                          :color="project.opts.color"
                                          persistent-hint hint="The time when the session started">
                                <span slot="label">Starting Time</span>
                            </v-text-field>
                            <v-time-picker v-model="startTimeForPicker" @input="startTimePicker = false"
                                           :color="project.opts.color" format="24hr"
                                           :allowed-minutes="v => v % 5 === 0"></v-time-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12>
                        <v-switch v-model="internalSession.time.running" label="running session"
                                  :color="project.opts.color" persistent-hint
                                  hint="Deselect to enable end time options"></v-switch>
                    </v-flex>
                    <v-flex xs12 sm6 v-if="!internalSession.time.running">
                        <v-menu :close-on-content-click="false" v-model="endDayPicker" offset-y class="d-block">
                            <v-text-field slot="activator" box required v-model="endDay" readonly
                                          :color="project.opts.color" :disabled="internalSession.time.running"
                                          persistent-hint hint="The day when the session ended">
                                <span slot="label">Ending Day</span>
                            </v-text-field>
                            <v-date-picker first-day-of-week="1" v-model="endDayForPicker"
                                           @input="endDayPicker = false" :color="project.opts.color"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6 v-if="!internalSession.time.running">
                        <v-menu :close-on-content-click="false" v-model="endTimePicker" offset-y class="d-block">
                            <v-text-field slot="activator" box required v-model="endTime" readonly
                                          :color="project.opts.color" :disabled="internalSession.time.running"
                                          persistent-hint hint="The time when the session ended">
                                <span slot="label">Ending Time</span>
                            </v-text-field>
                            <v-time-picker v-model="endTimeForPicker" @input="endTimePicker = false"
                                           :color="project.opts.color" format="24hr"
                                           :allowed-minutes="v => v % 5 === 0"></v-time-picker>
                        </v-menu>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-container grid-list-sm>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-btn :color="project.opts.color" @click="save">
                            <v-icon left>save_alt</v-icon>
                            Save
                        </v-btn>
                        <v-btn @click="discard">Discard</v-btn>
                        <v-btn @click="deleteSession" right absolute icon>
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-actions>
    </v-card>
</template>

<script>
  import * as moment from 'moment'

  export default {
    name: 'sessioneditor',
    components: {},
    props: {
      sessionId: {
        required: true,
        type: String
      }
    },
    data () {
      return {
        internalSession: {},
        startDayPicker: false,
        endDayPicker: false,
        startTimePicker: false,
        endTimePicker: false
      }
    },
    computed: {
      session () {
        return this.$store.getters.sessionById(this.sessionId)
      },
      project () {
        return this.$store.getters.projectById(this.session.project)
      },
      startTimestamp: {
        get () {
          return moment(this.internalSession.time.start).format('DD.MM.YYYY - HH:mm')
        },
        set (val) {
          this.internalSession.time.start = moment(val, 'DD.MM.YYYY - HH:mm')
        }
      },
      startDay () {
        return moment(this.startTimestamp, 'DD.MM.YYYY - HH:mm').format('DD.MM.YYYY')
      },
      startDayForPicker: {
        get () {
          return moment(this.startTimestamp, 'DD.MM.YYYY - HH:mm').format('YYYY-MM-DD')
        },
        set (val) {
          const currentDay = moment(this.internalSession.time.start)
          const newDay = moment(val, 'YYYY-MM-DD')

          currentDay.date(newDay.date())
          currentDay.month(newDay.month())
          currentDay.year(newDay.year())

          this.internalSession.time.start = currentDay
        }
      },
      startTime () {
        return moment(this.startTimestamp, 'DD.MM.YYYY - HH:mm').format('HH:mm')
      },
      startTimeForPicker: {
        get () {
          return moment(this.startTimestamp, 'DD.MM.YYYY - HH:mm').format('HH:mm')
        },
        set (val) {
          const currentTime = moment(this.internalSession.time.start)
          const newTime = moment(val, 'HH:mm')

          currentTime.hour(newTime.hour())
          currentTime.minute(newTime.minute())

          this.internalSession.time.start = currentTime
        }
      },
      endTimestamp: {
        get () {
          if (this.internalSession.time.end) {
            return moment(this.internalSession.time.end).format('DD.MM.YYYY - HH:mm')
          } else {
            this.internalSession.time.end = moment(this.internalSession.time.start).add(5, 'minutes')
            return this.internalSession.time.end.format('DD.MM.YYYY - HH:mm')
          }
        },
        set (val) {
          this.internalSession.time.end = moment(val, 'DD.MM.YYYY - HH:mm')
        }
      },
      endDay () {
        return moment(this.endTimestamp, 'DD.MM.YYYY - HH:mm').format('DD.MM.YYYY')
      },
      endDayForPicker: {
        get () {
          return moment(this.endTimestamp, 'DD.MM.YYYY - HH:mm').format('YYYY-MM-DD')
        },
        set (val) {
          const currentDay = moment(this.internalSession.time.end)
          const newDay = moment(val, 'YYYY-MM-DD')

          currentDay.date(newDay.date())
          currentDay.month(newDay.month())
          currentDay.year(newDay.year())

          this.internalSession.time.end = currentDay
        }
      },
      endTime () {
        return moment(this.endTimestamp, 'DD.MM.YYYY - HH:mm').format('HH:mm')
      },
      endTimeForPicker: {
        get () {
          return moment(this.endTimestamp, 'DD.MM.YYYY - HH:mm').format('HH:mm')
        },
        set (val) {
          const currentTime = moment(this.internalSession.time.end)
          const newTime = moment(val, 'HH:mm')

          currentTime.hour(newTime.hour())
          currentTime.minute(newTime.minute())

          this.internalSession.time.end = currentTime
        }
      }
    },
    created () {
      this.resetInternalSession()
    },
    methods: {
      discard () {
        this.resetInternalSession()
        this.$emit('close')
      },
      resetInternalSession () {
        this.internalSession = JSON.parse(JSON.stringify(this.session))
        this.$set(this.internalSession.time, 'end', this.internalSession.time.end || '')
      },
      save () {
        this.$store.commit('SET_SESSION', {oldSession: this.session, newSession: this.internalSession})
        this.$emit('close')
      },
      deleteSession () {
        this.$store.commit('DELETE_SESSION', {session: this.session})
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>

</style>
